html {
    overflow: auto;
}

a {
    padding: 0px;
    margin: 0px
}

body {
    background-image: url("spacebackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

p#header {
    color: cyan;
    font-family: "Nova Flat", Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    border: 7px groove darkorchid;
    border-radius: 30px;
    background-color: black;
    margin: 40px 450px 0px 450px;
    padding: 7px;
}

img#temperatureArrow {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    text-align: center;
}

div#currentTemperature {
    font-size: 30px;
    font-family: "Nova Flat", Helvetica, sans-serif;
    color: white;
    text-align: center;
    z-index: 1;
}
