<!doctype html>
<html>

<head>
<link rel="shortcut icon" href="{{ url_for('static',filename='airconicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='Air-conStyle.css') }}">
<title>
Air Conditioning
</title>
</head>

<body>
<p id="header">
Air-con Control Panel
</p>

<a id="temperatureUp" href="{{ url_for('update', value=value) }}">
<img alt= '' id="temperatureArrow" src="{{url_for('static',filename='arrowup.png')}}"/>
</a>
<a id="temperatureDown" href="{{ url_for('update', value=value) }}">
<img alt= '' id="temperatureArrow" src="{{url_for('static',filename='arrowup.png')}}" style="transform: rotate(180deg)">
</a>

{#<p id="powerControls">#}
{#<img alt= '' id="powerButtonOn" src="{{url_for('static',filename='powerbutton.png')}}">#}
{#<br>#}
{#<img alt= '' id="powerButtonOff" src="{{url_for('static',filename='powerbutton.png')}}">#}
{#</p>#}
{##}
{#<p id="presetModes">#}
{#<img alt= '' id="coolMode" src="{{url_for('static',filename='cool.png')}}">#}
{#<img alt= '' id="fanMode" src="{{url_for('static',filename='fan.png')}}">#}
{#<img alt= '' id="powerSavingMode" src="{{url_for('static',filename='powersaving.png')}}">#}
{#</p>#}
{##}
{#<p id="powerON">#}
{#ON#}
{#</p>#}
{#<p id="powerOFF">#}
{#OFF#}
{#</p>#}

<div id="currentTemperature">
Current Temperature: {{ value }}°C
</div>

</body>
</html>
