<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Light control panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LCP.css') }}">

</head>
<body>
<h1>
Lights Control Panel


</h1>

<div class="container">
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 1</p>
  </div>
	<div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 2</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 3</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 4</p>
  </div>
</div>

<a href="/timehistory" ><button class="timeHistory">Time History</button></a>

<button type="submit" class="button11">ON</button>
<button type="submit" class="button13">ON</button>
<button type="submit" class="button15">ON</button>
<button type="submit" class="button17">On</button>



<button type="button" class="button12">OFF</button>
<button type="button" class="button14">OFF</button>
<button type="button" class="button16">OFF</button>
<button type="button" class="button18">Off</button>



<a href="/" ><button class="Home">Home</button></a>

<div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

<div class="slidecontainer1">
  <input type="range" min="1" max="100" value="50" class="slider1" id="myRange1">
</div>


<div class="slidecontainer2">
  <input type="range" min="1" max="100" value="50" class="slider2" id="myRange2">
</div>


<div class="slidecontainer3">
  <input type="range" min="1" max="100" value="50" class="slider3" id="myRange3">
</div>
<script>
    var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}


</script>



</body>
</html>