<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Map

<img src='{{ url_for('static',filename='house.jpg') }}'>


</body>



<style>
    body {
        background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=e3llOIC%2f&id=4A10C5A088F3A3DE5ABC17E6B4209FF82171F2B4&thid=OIP.e3llOIC_so9vTxsbGDCw1wHaFr&mediaurl=http%3a%2f%2fwww.cityofmidlandmi.gov%2fImageRepository%2fDocument%3fdocumentID%3d2329&exph=806&expw=1050&q=Apartment+Layout&simid=608050329824071357&selectedIndex=0.jpg");
    }
</style>
</html>
